<form class="form my-2 my-lg-0" [formGroup]="form" (ngSubmit)="submitPokemonSearch($event)" novalidate>
  <div class="input-group">
    <input class="form-control" type="search" formControlName="search"
           [ngClass]="{'has-error': form.invalid && submitted}"
           [placeholder]="'Digite o número ...' | translate"
           aria-label="Digite o número ...">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="submit" translate>Buscar</button>
    </div>
  </div>
</form>
