@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.logo-header {
  width: 28px;
  margin-right: 10px;
}

header {
  .navbar {
    min-width: $min-width-site;
  }
}
