
body {
  //background: url("assets/imgs/bg-site.png") no-repeat top center;
  //background-size: 100%;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 58px;
  min-width: $min-width-site;
}

html {
  min-width: $min-width-site;
}

// UTILITIES
.img-thumbnail-small {
  max-width: 80px;
}

.img-thumbnail-big {
  max-width: 120px;
}

.hand-pointer {
  cursor: pointer;
}

.favorite-icon {
  color: #ababab;

  &.is-favorite {
    color: #dcb335;
  }
}

.has-error {
  background: #ffd7d4 !important;
  color: red;
}
