<table class="table table-striped table-hover">
  <thead class="thead-dark">
  <tr>
    <th width="30px" scope="col">#</th>
    <th width="80px" class="d-none d-sm-table-cell" scope="col" translate>Imagem</th>
    <th scope="col" translate>Nome</th>
    <th width="80px" scope="col" translate></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pokemon of pokemonList?.data">
    <th
      appPokemonDetail [pokemon-id]="pokemon.id"
      class="align-middle hand-pointer"
      scope="row">{{pokemon.id}}
    </th>
    <td
      appPokemonDetail [pokemon-id]="pokemon.id"
      class="align-middle hand-pointer d-none d-sm-block p-1">
      <app-img-pokemon [pokemon]="{name: pokemon.name, id: pokemon.id}"></app-img-pokemon>
    </td>
    <td
      appPokemonDetail [pokemon-id]="pokemon.id"
      class="align-middle hand-pointer"><h4>{{pokemon.name | titlecase}}</h4></td>
    <td
      class="align-middle"
      scope="row">
      <button (click)="changeIsFavorite(pokemon)"
              type="button"
              class="btn btn-link"
              [title]="'favoritar' | translate">
        <i class="fa fa-star favorite-icon"
           [ngClass]="{'is-favorite': isFavorite(pokemon)}"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
