<div class="container-fluid mt-5">
  <div class="text-center">
    <app-loader [isLoading]="isLoading" [message]="'aguarde...' | translate"></app-loader>
  </div>
  <div *ngIf="pokemonList?.data">
    <div class="table-responsive">
      <table class="table table-striped table-hover" >
        <thead class="thead-dark">
        <tr>
          <th width="30px" scope="col">#</th>
          <th width="80px" scope="col" translate>Imagem</th>
          <th scope="col" translate>Nome</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pokemon of pokemonList.data">
          <th class="align-middle" scope="row">{{pokemon.id}}</th>
          <td class="align-middle"><img [src]="'assets/imgs/pokemon-sprites/'+pokemon.id + '.png'" [alt]="pokemon.name"
                   class="img-thumbnail img-thumbnail-small rounded mx-auto img-fluid"></td>
          <td class="align-middle"><h4>{{pokemon.name | titlecase}}</h4></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
